# OS/editor
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# Python
__pycache__/
*.pyc
.venv/
venv/

# Logs/temp
*.log
*.tmp
temp*.txt

# Backup folders
*.bak/
scripts.bak/

# Game/media files - do not commit copyrighted media
*.cue
*.bin
*.iso
*.img
*.cdr
*.mdf
*.mds

# Local installed game folders
FXFIGHT/
cd/